/*.App {
  text-align: center;
}
*/
* {
  font-family: 'Century Gothic',sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container{
  display: flex;
  height: 100vh;
}
.nav {
  background-color: #5c1b86;
  padding: 10px;
  width: 13%; /* Adjust width as needed */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100vh;
  display: inline-block;
  position: fixed; 
  top: 15px;
  z-index: 1000; 
}
.student-img {
  margin: 25px 2px 5px 0px;
  text-align: center;
}
.nav h1 {
  color: white;
  margin: 0px;
  font-size: 30px;
  text-align: center;
}
.nav h2 {
  color: white;
  font-size: 15px;
  text-align: center;
  margin: 7px 0 ;
}

.nav-list{
  text-align: left;
}
.nav-list ul {
  list-style: none;
  text-align: left;
  padding: 7px;
}
.nav-item {
  margin: 3px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 5px;
  height: 25px;
  padding: 5px;
}
.nav-item:hover {
  background-color: #d7c7e4;
  color: #5c1b86;
  font-weight: bold;
}

.nav-item:focus {
  background-color: #d7c7e4; 
}

.nav-item:active {
  background-color: #d7c7e4; 
}
.nav-icons{
 vertical-align: middle;
 padding-bottom: 3px;
 padding-right: 11px;
 padding-left: 2px;
 font-size: 16px;

}
body {
background-color: #f6f6f6;
padding: 40px;
}

.courses {
  display: inline-block;
  width: 87%; /* Adjust to fit the remaining space */
  padding: 20px 10px;
  margin-left: 13%; /* Same as the width of the fixed nav */
}


.course-card {
  background-color: white;
  display: block;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  height: 25%;
}
.course-image{
  display: inline-block;
  height: 100%;
  width: 15%;
  border-radius: 50px;
}
.course-image img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.course-details{
  display: inline-block;
  width: 80%;
  height: 90%;
  padding-left: 15px;
}
.course-image, .course-details {
  vertical-align: top;
}
.course-title{
  font-weight: bold;
  font-size: 19px;
  margin-top: 5px;
}
.course-icons{
  color: #5c1b86;
  height: 14px;
  margin-right: 5px;
  margin-left: 100px;
  padding-top: 2px;
}
.course-details span{
  font-size: 15px;
  padding-bottom: 2px;
  font-weight:500;
  color: gray;
}
.first-icon{
  margin-left: 0px;
  
}
.course-desc{
  font-size: 15px;
  color: #aeb7be;
}
.instructor-image{
  width: 25px;
  height: 25px;
  border-radius: 30px;
}
.instructor-name{
  font-weight: 400; 
  font-size: 11px; 
  color: gray
}

@media only screen and (max-width: 700px) {
  .nav {
    width: 25%;
  }
  .courses {
    width: 75%;
    margin-left: 32%;
  }
}

@media only screen and (min-width: 700px) {
  .nav {
    width: 13%;
  }
  .courses {
    width: 87%;
    margin-left: 15%;
  }
}