.App {
  width: 100vw;
  height: 100vh;
}

* {
  font-family: 'Century Gothic',sans-serif;
}

body {
  background-color: #f6f6f6;
  padding: 20px;
  margin: 0;
  }
  
.container{
  display: flex;
  height: 100vh;
}
.nav {
  background-color: #5c1b86;
  padding: 10px;
  width: 13%; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 90%; 
  display: inline-block;
  position: fixed; 
  top: 15px; 
  bottom: 15px; 
  z-index: 1000; 
  margin: auto 0px;
}
.student-img {
  margin: 25px 2px 5px 0px;
  text-align: center;
}
.nav h1 {
  color: white;
  margin: 0px;
  font-size: 30px;
  text-align: center;
}
.nav h2{
  color: white;
  font-size: 15px;
  text-align: center;
  margin: 7px 0 ;
}
.nav p{
  color: white;
  font-size: 14px;
  text-align: center;
  margin: 5px 0 ;
  font-weight: bold;
}

.nav-list  {
  list-style: none;
  text-align: left;
  padding: 0px;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.nav-list .row{
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  padding: 7px 0px 5px 5px;
  border-radius: 7px;
}

.nav-list .row:hover{
  cursor: pointer;
  background-color: #d7c7e4;
  color: #5c1b86;
}
.nav-list #active{
  background-color: #d7c7e4;
  color: #5c1b86;
  font-weight: bold;
}
.row #icon{
  flex: 20%;
  padding-top: 2px;
}

.row #title{
  flex: 80%;
}
.sign-out{
  width: 100%;
  height: 25px;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  padding: 7px 0px 5px 5px;
  border-radius: 7px;
}
.sign-out:hover{
  cursor: pointer;
}
.sign-out #icon{
  flex: 20%;
  padding-top: 2px;
}
.sign-out #title{
  flex: 80%;
}
.courses {
  display: inline-block;
  width: 87%; 
  padding: 20px 10px;
  margin-left: 13%; 
}

.course-card {
  background-color: white;
  display: block;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  min-height: 100px;
}
.course-card:hover{
  border-left: 4px solid #d7c7e4;
}
.course-card:active{
  border-left: 4px solid #5c1b86;
}
.course-image{
  display: inline-block;
  height: 100%;
  width: 15%;
  border-radius: 50px;
}
.course-image img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.course-details{
  display: inline-block;
  width: 80%;
  height: 90%;
  padding-left: 15px;
}
.course-image, .course-details {
  vertical-align: top;
}
.course-title{
  font-weight: bold;
  font-size: 19px;
  margin-top: 5px;
}
.course-icons{
  color: #5c1b86;
  height: 14px;
  margin-right: 5px;
  margin-left: 100px;
  padding-top: 2px;
}
.course-details span{
  font-size: 15px;
  padding-bottom: 2px;
  font-weight:500;
  color: gray;
}
.first-icon{
  margin-left: 0px;
  
}
.course-desc{
  font-size: 15px;
  color: #aeb7be;
}
.instructor-image{
  width: 25px;
  height: 25px;
  border-radius: 30px;
}
.instructor-name{
  font-weight: 400; 
  font-size: 11px; 
  color: gray
}

@media only screen and (max-width: 700px) {
  .nav {
    width: 25%;
  }
  .courses {
    width: 75%;
    margin-left: 32%;
  }
}

@media only screen and (min-width: 700px) {
  .nav {
    width: 13%;
  }
  .courses {
    width: 87%;
    margin-left: 15%;
  }
}