/*.App {
  text-align: center;
}
*/
* {
  font-family: 'Century Gothic',sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container{
  display: flex;
  height: 100vh;
}
.nav{
  background-color: #5c1b86;
  padding: 10px;
  width: 10%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  display: inline-block;
}
.student-img {
  margin: 25px 2px 5px 0px;
  text-align: center;
}
.nav h1 {
  color: white;
  margin: 0px;
  font-size: 30px;
  text-align: center;
}
.nav h2 {
  color: white;
  font-size: 15px;
  text-align: center;
  margin: 7px 0 ;
}

.nav-list{
  text-align: left;
}
.nav-list ul {
  list-style: none;
  text-align: left;
  padding: 10px;
}
.nav-list li {
  margin-bottom: 10px;
  color: white;
}

body {
background-color: #fafafa;
padding: 40px;
}

.courses {
  display: inline-block;
  width: 80%;
}

.course-card {
  background-color: white;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 260px;
}
.course-image{
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
.course-title{
  font-weight: 700;
  font-size: 15px;
  margin: 7px 0;
}
.instructor-image{
  width: 25px;
  height: 25px;
  border-radius: 30px;
}
.instructor-name{
  font-weight: 400; 
  font-size: 11px; 
  color: gray
}

@media only screen and (max-width: 700px) {
.nav{
  width: 25%;
}
.courses{
  width: 75%;
}
}